<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JungleBook</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/app.css"/>

</head>
<body>
    <div id="root">
        <div class="App">
            <div class="Main">
                <nav class="navbar fixed-top">
                    <a class="navbar-brand">Why JungleBook?</a>
                    <form class="d-flex">
                        <button class="btn create-btn">Create new Notebook</button>
                    </form>
                </nav>
                <section class="App-section illbg" id="index-section01">
                    <img src="./img/logotext.png" class="img-fluid App-logo" alt="logo" />
                    <div id="sform">
                        <div class="form-inline">
                            <input id="input-bookname" type="text" class="form-control" placeholder="title" maxLength="20" size="15"/>
                            <button id="enter-to-book" class="btn">Enter</button>
                        </div>
                        <div class="enter-desc">or append <code>/title</code> to url</div>
                    </div>
                </section>
                <section class="App-section" id="index-section02">
            
                </section>
                <footer class="mastfoot fixed-bottom">
                    <div class="inner">
                        <p>ⓒ 2021. JungleBook. All rights reserved.</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    
</body>
<script src="./js/setbgimg.js"></script>
<script src="./js/app.js"></script>
</html>