<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>움직여요 미림의 숲</title>

    
</head>
<body>
    
    <h1>방명록</h1>
    <div id="page-l-pa" class="page">
        <div id="page-l"></div>
    </div>
    <div id="page-r-pa" class="page">
        <div id="page-r"></div>
        
    </div>
    
    

</body>

<template id="formhtml">
    <form method="POST">
        <input id="bookinput" type="text" name="text" placeholder="" required/>
        <button type="submit">작성</button>
    </form>
</template>

<script type="text/javascript">
    $( document ).ready(function() {
        let idx_l=0, idx_r=0
        let left_p=-1, right_p=-1
        //https://gist.github.com/ageldama/4173461
        <% visitors.forEach(function(e){ %>
            if(idx_l++ < 7){
                if(idx_l==1) $("#page-l").append(`<div id="left_p${++left_p}">`)
                $(`#left_p${left_p}`).append("<%= e.text %><br>")
            }
            else if(idx_r++ < 7){
                if(idx_r==1) $("#page-r").append(`<div id="right_p${++right_p}">`)
                $(`#right_p${right_p}`).append("<%= e.text %><br>")
            }
            else{
                // idx_l = 0; idx_r = 0;
            }
            
        <% }) %>
        
        let formhtml = $("#formhtml").html()
        let lastpage = (left_p>right_p)? $('#page-l-pa') : $('#page-r-pa')
        lastpage.append(formhtml)
    })
</script>
</html>