<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>μ›€μ§μ—¬μ” λ―Έλ¦Όμ μ²</title>
</head>
<body>
    <h1>λ°©λ…λ΅</h1>
    <% visitors.forEach(function(e){ %>
        <%= e.text %><br>
    <% }) %>
    <form method="POST">
        <input type="text" name="text" placeholder="π’›π’" required/>
        <button type="submit">μ‘μ„±</button>
    </form>
</body>
</html>