<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JungleBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/app.css"/>
    <link rel="icon" href="./webcon.ico"/>
    <link rel="apple-touch-icon" href="./weblogo512.png"/>
    <link rel="manifest" href="./manifest.json"/>

</head>
<body>
    
    <h1>방명록</h1>
    <div>
        <div id="page-l-pa" class="page">
            <div id="page-l"></div>
            <div id="toPre"><button id="toPrePage-btn" onclick="toPrePage()"><</button></div>
        </div>
        <div id="page-r-pa" class="page">
            <div id="page-r"></div>
            <div id="toNext"><button id="toNextPage-btn" onclick="toNextPage()">></button></div>
        </div>
    </div>
</body>

<template id="formhtml">
    <form method="POST" id="visitorbook">
        <input id="bookinput" type="text" name="text" placeholder="" required/>
        <button type="submit">작성</button>
    </form>
</template>

<script type="text/javascript">
    let idx_l=0, idx_r=0
    let left_p=-1, right_p=-1
    let l_currentPage = left_p, r_currentPage = right_p
    const renderForm = ()=>{
        if(l_currentPage<left_p) $("#toNext").show() 
        else $("#toNext").hide()
        if(l_currentPage>0) $("#toPre").show()
        else $("#toPre").hide()
        //render form
        if(l_currentPage==left_p && r_currentPage==right_p) $("#visitorbook").show()
        else $("#visitorbook").hide()
    }
    let toPrePage = ()=>{
        $(`#left_p${l_currentPage}`).hide()
        $(`#left_p${--l_currentPage}`).show()
        $(`#right_p${r_currentPage}`).hide()
        $(`#right_p${--r_currentPage}`).show()
        renderForm()
    }
    let toNextPage  = ()=>{
        $(`#left_p${l_currentPage}`).hide()
        $(`#left_p${++l_currentPage}`).show()
        $(`#right_p${r_currentPage}`).hide()
        $(`#right_p${++r_currentPage}`).show()
        renderForm()
    }
    $( document ).ready(function() {
        //https://gist.github.com/ageldama/4173461
        <% notebooks.forEach(function(e){ %>
            if(idx_l++ < 7)
            {
                if(left_p<=-1) $("#page-l").append(`<div id="left_p${++left_p}">`)
                $(`#left_p${left_p}`).append("<%= e.text %><br>")
            }
            else if(idx_r++ < 7)
            {
                if(right_p<=-1) $("#page-r").append(`<div id="right_p${++right_p}">`)
                $(`#right_p${right_p}`).append("<%= e.text %><br>")
                if(idx_r>=7){ //7개일때 다음페이지로
                    idx_l = 0; idx_r = 0;
                    $(`#left_p${left_p}`).hide()
                    $(`#right_p${right_p}`).hide()
                    $("#page-l").append(`<div id="left_p${++left_p}">`)
                    $("#page-r").append(`<div id="right_p${++right_p}">`)
                }
            }
            
        <% }) %>
        l_currentPage = left_p
        r_currentPage = right_p
        //render form
        let lastpage;
        let formhtml = $("#formhtml").html()
        if(idx_r<=0) lastpage = $('#page-l-pa')
        else lastpage = $('#page-r-pa')
        lastpage.append(formhtml)
        renderForm()
    })
</script>
</html>