#page-l-pa{
    background-color: chocolate;
    position: relative;
}
#page-r-pa{
    background-color: darkgray;
    position: relative;
}

#bookinput{
    width: 280px;
}

.page{
    float:left;
    width: 350px;
    height: 210px;
}

#toPre{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#toNext{
    position: absolute;
    bottom: 10px;
    right: 10px;
}